/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 65px;
    width: 65px;
    vertical-align: bottom;
}

.title-logo{
    font-size: 50px;
    font-weight: bold;
    vertical-align: sub;
}

body {
    background-color: rgb(233, 233, 233);
}

header{
    background-color: rgb(255, 255, 255);
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', sans-serif;
}

main{
    padding: 5rem 1rem;
    border: 3rem 7rem;
}

ul {
    list-style: none;
    margin-left: 0s;
    padding-left: 0;
}
    
.container {
    margin: 0 auto;
    width: 70%;
    background-color: white;
}

