/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(233, 233, 233);
}

header{
    background-color: white;
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', sans-serif;
}

.logo{
    height: 100px;
    padding: 10px;
}

.title{
    font-size: 50px;
    font-weight: bold;
    vertical-align: sub;
}

main{
    background-color: grey;
    padding: 5rem 1rem;
    border: 3rem 7rem;

}

ul {list-style: none;
    margin-left: 0s;
    padding-left: 0;
}
    
