/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    height: 65px;
    width: 65px;
    vertical-align: bottom;
}

.title-logo{
    font-size: 50px;
    font-weight: bold;
    vertical-align: sub;
}

body {
    background-color: rgb(233, 233, 233);
}

header{
    background-color: rgb(255, 255, 255);
    height: 100px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 50px;
    font-family: 'Lucida Sans', sans-serif;
}

ul {
    list-style: none;
    margin-left: 0s;
    padding-left: 0;
}
    
.container {
    width: 70%;
    background-color: white;
    margin: 0 auto;
}

.tasks{
    height: 50px;
    padding-left: 50px;
    line-height: 50px;
    border-bottom: 5px solid rgb(245, 245, 245) ;
}


.blue-button{
    border: 3px solid rgb(55, 168, 243);
    background-color: rgb(55, 168, 243);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.grey-button{
    border: 2px solid rgb(135, 135, 136);
    background-color: white;
    color: rgb(135, 135, 136);
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}

h1{
    font-size: 30px;
    font-family: 'Lucida Sans', sans-serif;
}

.context{
    border-radius: 15px;
    padding: 5px 10px;
    font-size: 13px;
    color: rgb(255, 255, 255);
}

.context-blue{
    background-color: rgb(59, 124, 199) ;
}

.context-purple{
    background-color: rgb(126, 34, 212);
}

.context-orange{
    background-color: rgb(190, 112, 10);
}

.context-lime{
    background-color: rgba(12, 223, 12, 0.623);
}

.context-green{
    background-color: rgb(136, 184, 26);
}

.context-magenta{
    background-color:rgb(194, 27, 194);
}

.check{
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 2px;
    color: rgba(4, 187, 4, 0.877);
    border: 1px solid rgb(4, 187, 4, 0.877);
    border-radius: 50%;
    margin-right: 5px;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
}

.cross{
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 2px;
    color: rgba(199, 3, 3, 0.877);
    border: 1px solid rgb(199, 3, 3, 0.877);
    border-radius: 50%;
    margin-right: 5px;
    line-height: 15px;
    font-size: 15px;
    text-align: center;
}

